:root {
    --calculator-width: 394px;
    --calculator-height: 475px;
    --calculator-bg-color: #E8D7F1;
    --calculator-border-radius: 24px;
    --calculator-padding: 32px;
    --display-width: 330px;
    --display-height: 91px;
    --display-bg-color: #6B4B96;
    --display-text-color: #FFFFFF;
    --display-border-radius: 4px;
    --display-padding: 24px;
    --operator-button-color: #A167A5;
    --operator-text-color: #B3EFB2;
    --number-button-color:  #FFFFFF;
    --number-text-color: #6B4B96;
    --button-width: 75px;
    --button-height: 48px;
    --button-border-radius: 4px;
    --button-gap: 10px;
    --row-gap: 16px;
}

* {
    box-sizing: border-box;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    width: var(--calculator-width);
    height: var(--calculator-height);
    background-color: var(--calculator-bg-color);
    padding: var(--calculator-padding);
    border-radius: var(--calculator-border-radius);
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: var(--display-height);
    background-color: var(--display-bg-color);
    border-radius: var(--display-border-radius);
    padding: var(--display-padding);
    font-family: "Andale Mono", "Courier New", Courier, monospace;
    font-size: 2.5em;
    color: var(--display-text-color);
    text-align: right;
}

.row {
    display: flex;
    justify-content: center;
    gap: var(--button-gap);
    width: 100%;
    margin-top: var(--row-gap);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--button-height);
    border-radius: var(--button-border-radius);
    text-align: center;
    flex: 1;
    font-size: 1.5rem;
    font-weight: bold;
}

.operator {
    background-color: var(--operator-button-color);
    color: var(--operator-text-color);
}

.num {
    background-color: var(--number-button-color);
    color: var(--number-text-color);
}

#zero {
    flex: 2.13;
    width: calc(2 * var(--button-width) + var(--button-gap));
}